/* Space-Grotesk Google Font */
/* @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"); */

/* start main rules */
:root {
  --primary-bg-color: white;
  --second-bg-color: #f0f2f5;
  --primary-color: purple;
  --primary-color-alt: rgba(128, 0, 128, 0.9);
  --second-color: plum;
  --three-color: #585858;
  --xl-text-size: 2.5rem;
  --lg-text-size: 2rem;
  --md-text-size: 1.25rem;
  --sm-text-size: 1rem;
  --main-margin-bottom: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* start heading-effect */
.heading-effect {
  position: relative;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.heading-effect::before,
.heading-effect::after {
  content: "";
  height: 12px;
  width: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.heading-effect::before {
  left: -30px;
}

.heading-effect::after {
  right: -30px;
}

.heading-effect:hover::before {
  left: 0;
}

.heading-effect:hover::after {
  right: 0;
}
.heading-effect:hover::before,
.heading-effect:hover::after {
  height: 100%;
  width: 51%;
  border-radius: 0;
  transition: all 0.3s ease-in;
}

.heading-effect span {
  position: relative;
  display: block;
  font-size: var(--lg-text-size);
  font-weight: 600;
  border: 2px solid black;
  padding: 10px;
  z-index: 9;
}

.heading-effect:hover span {
  color: white;
  border-color: white;
  transition: all 0.5s ease-in;
}
/* start dots */
.dots {
  position: absolute;
  height: 25vh;
  width: 25vw;
  background-image: url("../images/dots.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.dots-up {
  top: 150px;
  right: 0;
  background-position: right;
}

.dots-down {
  bottom: 100px;
  left: 0;
}
/* end main rules */
/* start header */
header {
  background-color: white;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .brand {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
header .content .brand .brand-content {
  font-size: var(--lg-text-size);
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}
header .content .brand div i:hover {
  background-color: var(--second-bg-color);
}
header .content nav {
  height: 70px;
  margin-left: auto;
}
header .content nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  white-space: nowrap;
}
header .content nav ul li {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .content nav ul li:hover {
  background-color: var(--second-bg-color);
}
header .content nav ul li::before {
  content: "";
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 0;
}
header .content nav ul li:hover::before {
  border-color: var(--primary-color);
  width: 100%;
}
header .content nav ul li a {
  font-weight: 400;
  font-size: 1.15rem;
  color: black;
}

header .content nav ul li:hover a {
  color: var(--primary-color);
}

header .content .menu {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 1170px;
  margin: auto;
  min-height: 350px;
  background-color: var(--primary-bg-color);
  border-bottom: 2px solid var(--primary-color);
  border-top: 1px solid #eee;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
}

header .content .menu.active {
  transition: all 0.3s ease-in;
  pointer-events: auto;
  opacity: 1;
  top: 70px;
}

header .content .menu .image {
  flex-basis: 40%;
  display: none;
}
header .content .menu .image img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

header .content .menu .nav {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: flex-start;
  column-gap: 35px;
}
header .content .menu .nav .left-link,
header .content .menu .nav .right-link {
  flex-grow: 1;
}
header .content .menu .nav a {
  position: relative;
  width: 100%;
  display: block;
  padding: 15px;
  color: var(--primary-color);
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

header .content .menu .nav a:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

header .content .menu .nav a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.3);
  transition: all 0.3s ease-in;
}

header .content .menu .nav a:hover::before {
  width: 100%;
}

header .content .menu .nav a i {
  position: relative;
  margin-right: 10px;
}

header .content .menu .nav a i::before {
  font-weight: 700;
  font-size: var(--md-text-size);
  vertical-align: middle;
}

header .content .menu .nav span {
  position: relative;
  font-size: var(--md-text-size);
  font-weight: 700;
  vertical-align: middle;
}
/* start about */
.about {
  position: relative;
  margin-bottom: var(--main-margin-bottom);
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--second-bg-color);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
}

.about-content {
  min-height: calc(100vh - 120px);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content .text {
  width: 100%;
  text-align: center;
}

.about-content .text h2 {
  font-size: var(--xl-text-size);
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

.about-content .text p {
  color: var(--three-color);
  font-size: var(--md-text-size);
  font-weight: 400;
  line-height: 1.6;
  text-transform: capitalize;
  margin-top: 10px;
}

.about-content .image {
  width: 50%;
  display: none;
}

.about-content .image img {
  width: 100%;
  z-index: 9;
  position: relative;
  animation-name: upDown;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition: all 8s ease-in-out;
}

.about-content .down {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 50px;
  border-radius: 12px;
  cursor: pointer;
  display: block;
}
.about .down i {
  position: relative;
  top: 10px;
  font-size: 3rem;
  color: var(--primary-color);
  animation-name: cheveronsupdown;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
/* start articles */
.articles {
  margin-bottom: var(--main-margin-bottom);
}
.articles-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-content .grid {
  width: 100%;
  position: relative;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles-content .grid .card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.articles-content .grid .card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px);
}

.articles-content .grid .card .image {
  width: 100%;
  height: 180px;
}

.articles-content .grid .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.articles-content .grid .card .desc h3 {
  padding: 30px 20px 0;
  font-weight: 600;
  font-size: var(--md-text-size);
  text-transform: capitalize;
  margin: 0;
}

.articles-content .grid .card .desc p {
  padding: 10px 20px 30px;
  font-weight: 500;
  font-size: var(--sm-text-size);
  color: var(--three-color);
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0;
}

.articles-content .grid .card .desc button {
  width: 100%;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  border: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: var(--sm-text-size);
  text-transform: capitalize;
}

.articles-content .grid .card:hover .desc button i {
  position: relative;
  left: 0;
  animation: 0.5s arrowLeftRight infinite;
}

/* end articles */
/* start spikes */
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* start gallory */
.gallory {
  padding: 100px 0;
  /* margin-bottom: var(--main-margin-bottom); */
  background-color: var(--second-bg-color);
}

.gallory-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallory-content .grid {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.gallory-content .grid > div {
  position: relative;
  border: 15px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  outline: 1px solid #ccc;
  overflow: hidden;
}

.gallory-content .grid > div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  z-index: auto;
  background-color: white;
  transition: all 0.3s ease-in;
}

.gallory-content .grid > div:hover::before {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.gallory-content .grid img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.gallory-content .grid > div:hover img {
  transform: scale(1.1) rotate(3deg);
}
/* start features */
.features {
  /* margin-bottom: var(--main-margin-bottom); */
  padding: 100px 0;
}

.features-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-content .grid {
  position: relative;
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.features-content .grid .item {
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.features-content .grid .item .image {
  position: relative;
  overflow: hidden;
  height: 320px;
}

.features-content .grid .item .image img {
  width: 100%;
  height: 100%;
}

.features-content .grid .item .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.features-content .grid .item:nth-child(1) .image::before {
  background-color: rgb(244 64 54 / 60%);
}

.features-content .grid .item:nth-child(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
}

.features-content .grid .item:nth-child(3) .image::before {
  background-color: rgb(3 169 244 / 60%);
}

.features-content .grid .item .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 0;
  background-color: white;
  z-index: 2;
  clip-path: polygon(100% 38%, 0% 100%, 100% 100%);
  transition: clip-path 0.2s ease-in;
}

.features-content .grid .item:hover .image::after {
  clip-path: polygon(0 55%, 0% 100%, 100% 100%);
}
.features-content .grid .item .text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.features-content .grid .item .text h3 {
  position: relative;
  font-size: var(--xl-text-size);
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 30px;
}

.features-content .grid .item .text > h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 65%;
  border-width: 3px;
  border-style: solid;
  margin: auto;
}

.features-content .grid .item:nth-child(1) .text > h3::after {
  border-color: rgb(244 64 54 / 100%);
}

.features-content .grid .item:nth-child(2) .text > h3::after {
  border-color: rgb(0 150 136 / 100%);
}

.features-content .grid .item:nth-child(3) .text > h3::after {
  border-color: rgb(0 147 214 / 100%);
}

.features-content .grid .item .text p {
  font-size: var(--md-text-size);
  font-weight: 500;
  color: var(--three-color);
  padding: 0 25px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 30px;
}

.features-content .grid .item .text a {
  position: relative;
  font-size: var(--md-text-size);
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
}

.features-content .grid .item .text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  transition: ALL 0.2s ease-in;
}

.features-content .grid .item:nth-child(1) .text a::before {
  background-color: rgb(244 64 54 / 100%);
}

.features-content .grid .item:nth-child(2) .text a::before {
  background-color: rgb(0 150 136 / 100%);
}

.features-content .grid .item:nth-child(3) .text a::before {
  background-color: rgb(0 147 214 / 100%);
}

.features-content .grid .item:hover .text a::before {
  width: 100%;
}

.features-content .grid .item:nth-child(1) .text a {
  color: rgb(244 64 54 / 100%);
  border: 2px solid rgb(244 64 54 / 100%);
}

.features-content .grid .item:nth-child(2) .text a {
  color: rgb(0 150 136 / 100%);
  border: 2px solid rgb(0 150 136 / 100%);
}
.features-content .grid .item:nth-child(3) .text a {
  color: rgb(0 147 214 / 100%);
  border: 2px solid rgb(0 147 214 / 100%);
}

.features-content .grid .item .text a span {
  position: relative;
}

.features-content .grid .item:hover .text a span {
  color: white;
}
/* start testimonial */
.testimonial {
  position: relative;
  /* margin-bottom: var(--main-margin-bottom); */
  background-color: var(--second-bg-color);
  padding: 100px 0;
}

.testi-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi-content .grid {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.testi-content .grid .item {
  position: relative;
  width: 100%;
  height: max-content;
}

.testi-content .grid .item .image {
  position: absolute;
  width: 90px;
  height: 90px;
  top: -30px;
  right: -10px;
  border-radius: 50%;
  line-height: center;
  text-align: center;
  background-color: var(--second-bg-color);
  padding: 10px;
}

.testi-content .grid .item img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.testi-content .grid .item .text {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  min-height: 200px;
}

.testi-content .grid .item .text .name-job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.testi-content .grid .item .text .name-job span {
  font-size: var(--md-text-size);
  font-weight: 700;
  margin-bottom: 5px;
}

.testi-content .grid .item .text .name-job small {
  font-weight: 400;
  font-size: var(--sm-text-size);
  color: var(--three-color);
  margin-bottom: 5px;
}

.testi-content .grid .item .text .review .bxs-star::before {
  font-size: 1.25rem;
  color: gold;
}

.testi-content .grid .item .text .review .bxs-star:nth-child(5):before {
  color: black;
}

.testi-content .grid .item .text p {
  color: var(--three-color);
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}
/* start team */
.team {
  position: relative;
  /* margin-bottom: var(--main-margin-bottom); */
  padding: 100px 0;
}

.team-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-content .grid {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.team-content .grid .item {
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.team-content .grid .item::before,
.team-content .grid .item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 85%;
  border-radius: 12px;
  background-color: #eee;
  z-index: 0;
}

.team-content .grid .item::after {
  width: 0;
  z-index: 2;
  opacity: 0.3;
  background-color: var(--three-color);
  transition: all 0.3s ease-in;
}

.team-content .grid .item:hover::after {
  width: 85%;
}

.team-content .grid .item .social {
  padding-top: 60px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  z-index: 1;
}

.team-content .grid .item .social img {
  position: relative;
  min-width: 220px;
  border-radius: 12px;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-content .grid .item:hover .social img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.team-content .grid .item .social .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.team-content .grid .item .social .social-links .link i {
  width: 60px;
  text-align: center;
  font-size: var(--md-text-size);
  color: var(--three-color);
}

.team-content .grid .item .text {
  width: 85%;
  margin-left: auto;
  padding: 0 15px 15px;
  z-index: 1;
}

.team-content .grid .item .text span {
  font-size: var(--md-text-size);
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
  transition: all 0.3s ease-in;
}
.team-content .grid .item:hover .text span {
  color: var(--three-color);
}

.team-content .grid .item .text p {
  font-weight: 500;
  font-size: var(--sm-text-size);
  color: #2d2d2d;
  text-transform: capitalize;
}
/* start services */
.services {
  padding: 100px 0;
  /* margin-bottom: var(--main-margin-bottom); */
  background-color: var(--second-bg-color);
}
.services-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-content .grid {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.services-content .grid .service {
  position: relative;
  background-color: white;
  min-height: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.services-content .grid .service:hover {
  transform: translateY(-15px);
}

.services-content .grid .service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 0;
  border: 2px solid transparent;
}

.services-content .grid .service:hover::before {
  width: 100%;
  left: 0;
  right: 0;
  border-color: var(--primary-color);
  transition: all 0.3s ease-in;
}

.services-content .grid .service .service-name {
  padding: 25px 0 35px;
}

.services-content .grid .service .service-name i {
  font-size: 120px;
  color: var(--three-color);
}

.services-content .grid .service .service-name h3 {
  font-size: var(--lg-text-size);
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
  margin: 0;
}

.services-content .grid .service .service-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.services-content .grid .service .service-details .index {
  position: relative;
  height: 50px;
  line-height: 50px;
}

.services-content .grid .service .service-details .index::before,
.services-content .grid .service .service-details .index::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  z-index: 2;
}

.services-content .grid .service .service-details .index::after {
  left: 100%;
  background-color: var(--three-color);
  z-index: 1;
}

.services-content .grid .service .service-details .index span {
  position: relative;
  display: block;
  height: 100%;
  font-weight: 700;
  font-size: var(--lg-text-size);
  letter-spacing: 1px;
  background-color: var(--primary-color);
  color: white;
  padding-left: 20px;
  z-index: 3;
}

.services-content .grid .service .service-details a {
  font-size: var(--sm-text-size);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 0 15px;
  cursor: pointer;
}
/* start skills */
.our-skills {
  /* margin-bottom: var(--main-margin-bottom); */
  padding: 100px 0;
}
.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content > div {
  width: 100%;
  display: flex;
  column-gap: 40px;
}

.skills-content > div .image {
  flex-basis: 45%;
  align-self: center;
  display: none;
}

.skills-content > div .image img {
  width: 100%;
  min-height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.skills-content > div .skills {
  flex-basis: 55%;
  flex-grow: 1;
}

.skills-content > div .skills .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  row-gap: 5px;
}

.skills-content > div .skills .item .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-content > div .skills .item .label label {
  font-weight: 700;
  font-size: var(--md-text-size);
  text-transform: uppercase;
}

.skills-content > div .skills .item .label span {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-color);
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 6px;
}

.skills-content > div .skills .item .progress-bar {
  height: 30px;
  position: relative;
  background-color: #eee;
}

.skills-content > div .skills .item .progress-bar .progress-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.5s ease-in;
}

/* start work */
.work {
  background-color: var(--second-bg-color);
  /* margin-bottom: var(--main-margin-bottom); */
  padding: 100px 0;
}

.work-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-content .work-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.work-content .work-details .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.work-content .work-details .desc .item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: #f5f5f5;
  border: 2px solid white;
  border-radius: 6px;
  padding: 25px;
  transition: background-color 0.3s ease-in;
}

.work-content .work-details .desc .item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0px;
  width: 0px;
  background-color: #eee;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.work-content .work-details .desc .item:hover::before {
  height: 100%;
  width: 100%;
}

.work-content .work-details .desc .item img {
  position: relative;
  width: 70px;
  height: 70px;
}

.work-content .work-details .desc .item .text {
  position: relative;
}

.work-content .work-details .desc .item .text h3 {
  font-weight: 700;
  font-size: var(--md-text-size);
  text-transform: capitalize;
  margin: 0;
}

.work-content .work-details .desc .item .text p {
  margin: 10px 0 0;
  font-weight: 500;
  font-size: var(--sm-text-size);
  line-height: 1.6;
  color: var(--three-color);
}
/* start event */
.event {
  position: relative;
  padding: 100px 0;
  /* margin-bottom: var(--main-margin-bottom); */
}

.event-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  z-index: 1;
}

.event-content .event-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.event-content .event-details .image {
  display: none;
}

.event-content .event-details .image img {
  height: 350px;
}

.event-content .event-details .info {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-content .event-details .info .counter {
  display: flex;
  column-gap: 10px;
}

.event-content .event-details .info .counter .count {
  width: 68px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--three-color);
  color: var(--primary-color);
  text-align: center;
  border-radius: 6px;
}

.event-content .event-details .info .counter .count span {
  font-size: var(--lg-text-size);
  font-weight: 700;
  padding: 12px 5px;
}

.event-content .event-details .info .counter .count small {
  padding: 5px;
  color: var(--three-color);
  border-top: 1px solid var(--three-color);
  text-transform: capitalize;
  font-weight: 500;
}

.event-content .event-details .info .text {
  text-align: center;
}

.event-content .event-details .info .text h3 {
  font-weight: 700;
  font-size: var(--lg-text-size);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.event-content .event-details .info .text p {
  color: var(--three-color);
  font-size: var(--md-text-size);
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 0;
}

.event-content form {
  width: 70%;
  background-color: var(--second-bg-color);
  padding: 15px 20px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.event-content form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 5px 5px 10px;
  border-radius: 20px;
  color: var(--three-color);
}

.event-content form input:focus {
  outline: 1px solid #ccc;
}

.event-content form input::placeholder {
  color: var(--three-color);
}

.event-content form button {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: var(--sm-text-size);
  font-weight: 500;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.2s ease-in;
}

.event-content form button:hover {
  background-color: var(--primary-color-alt);
}

/* start plans */
.pricing-plans {
  position: relative;
  padding: 100px 0;
  background-color: var(--second-bg-color);
}

.plans-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.plans-content .plans {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.plans-content .plans .plan {
  position: relative;
  width: 100%;
  min-height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 30px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.plans-content .plans .plan::before,
.plans-content .plans .plan::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #eee;
  opacity: 0.3;
  z-index: 0;
  transition: width 0.3s ease-in;
}

.plans-content .plans .plan::before {
  top: 0;
  left: 0;
}

.plans-content .plans .plan::after {
  bottom: 0;
  right: 0;
}

.plans-content .plans .plan:hover::before,
.plans-content .plans .plan:hover::after {
  width: 100%;
}

.plans-content .plans .plan .tag {
  position: absolute;
  top: 75px;
  right: -50px;
  width: 200px;
  height: 50px;
  line-height: 45px;
  color: white;
  font-weight: 700;
  font-size: var(--md-text-size);
  background-color: var(--primary-color);
  z-index: 2;
  transform: rotate(90deg);
  text-transform: capitalize;
  padding-left: 15px;
}

.plans-content .plans .plan .tag::after {
  content: "";
  position: absolute;
  bottom: 7px;
  right: -18px;
  border-left-width: 33px;
  border-bottom-width: 33px;
  border-left-color: white;
  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-style: solid;
  transform: rotate(-45deg);
}

.plans-content .plans .plan h3 {
  position: relative;
  font-size: var(--lg-text-size);
  font-weight: 700;
  color: var(--three-color);
  text-transform: capitalize;
  z-index: 1;
  margin: 0;
}

.plans-content .plans .plan .price-plan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.plans-content .plans .plan .price-plan i.bx {
  font-size: 100px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.plans-content .plans .plan .price-plan div span {
  font-size: 50px;
  font-weight: 700;
  color: var(--primary-color);
  display: block;
}

.plans-content .plans .plan .price-plan div small {
  font-weight: 500;
  color: var(--three-color);
  text-align: center;
  text-transform: capitalize;
  display: block;
}
.plans-content .plans .plan .details-plan {
  width: 100%;
  position: relative;
  z-index: 1;
}

.plans-content .plans .plan .details-plan li {
  padding: 15px;
  font-weight: 400;
  border-top: 1px solid #eee;
  font-size: var(--md-text-size);
  color: var(--three-color);
  text-transform: capitalize;
}

.plans-content .plans .plan .details-plan li i.bx {
  margin-right: 15px;
  font-weight: 700;
  font-size: var(--md-text-size);
  color: var(--primary-color);
}

.plans-content .plans .plan button {
  position: relative;
  padding: 15px;
  border: 2px solid var(--primary-color);
  font-size: var(--md-text-size);
  font-weight: 500;
  color: var(--three-color);
  text-transform: capitalize;
  border-radius: 12px;
  background-color: white;
  z-index: 1;
  transition: background-color 0.2s ease-in;
}
.plans-content .plans .plan button:hover {
  background-color: var(--primary-color);
  color: white;
}
/* start media */
.top-video {
  position: relative;
  padding: 100px 0;
}
.video-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
}

.list-video .list {
  width: 100%;
  text-transform: capitalize;
}

.list-video .list h3 {
  padding: 15px;
  font-size: var(--md-text-size);
  background-color: #eee;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--three-color);
  font-weight: 700;
}

.list-video .list h3 i {
  font-size: var(--lg-text-size);
}

.list-video .list li {
  width: 100%;
  padding: 15px;
  font-weight: 500;
  border-top: 1px solid #ccc;
  color: var(--three-color);
}

.list-video .list li:hover {
  background-color: var(--second-bg-color);
}

.list-video .list li span {
  display: block;
  margin-bottom: 10px;
}

.list-video .list li:hover span {
  color: var(--primary-color);
}

.list-video .list li small {
  opacity: 0.9;
}
.list-video .video {
  flex-grow: 1;
  padding: 15px;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-video .video img {
  width: 100%;
  margin-bottom: 15px;
}

.list-video .video p {
  width: 100%;
  padding: 20px 15px;
  background-color: white;
  margin: 0;
  color: var(--three-color);
  font-size: var(--sm-text-size);
  font-weight: 500;
  text-transform: capitalize;
}
/* start stats*/
.our-stats {
  position: relative;
  padding: 100px 0;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.our-stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.stats-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.stats-content h2 {
  font-size: var(--xl-text-size);
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px;
  margin-bottom: 100px;
}

.stats-content .grid {
  width: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.stats-content .grid .item {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 25px;
  font-weight: 700;
}

.stats-content .grid .item::before,
.stats-content .grid .item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--primary-color-alt);
  transition: height 0.7s ease-in;
}

.stats-content .grid .item::before {
  left: 0;
  bottom: 0;
}

.stats-content .grid .item::after {
  right: 0;
  top: 0;
}

.stats-content .grid .item:hover::before,
.stats-content .grid .item:hover::after {
  height: 100%;
}

.stats-content .grid .item i {
  font-weight: 700;
  font-size: var(--xl-text-size);
}

.stats-content .grid .item strong {
  font-size: 3rem;
}

.stats-content .grid .item span {
  font-size: var(--md-text-size);
  text-transform: capitalize;
  color: var(--primary-color);
}
/* start request*/
.request {
  position: relative;
}

.request-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.request-content .offre {
  position: relative;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  background-image: url("../images/discount-background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 25px;
}
.request-content .offre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--primary-color-alt);
  z-index: 0;
}

.request-content .offre h3,
.request-content .request-form h3 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: var(--xl-text-size);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.request-content .offre p {
  position: relative;
  z-index: 1;
  color: white;
  font-size: var(--md-text-size);
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}

.request-content .offre img {
  position: relative;
  z-index: 1;
  width: 50%;
}

.request-content .request-form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 50px 25px;
}

.request-content .request-form h3 {
  color: black;
  width: 70%;
  margin-bottom: 20px;
}

.request-content .request-form form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.request-content .request-form form input {
  height: 50px;
}

.request-content .request-form form textarea {
  height: 200px;
  resize: none;
}

.request-content .request-form form input,
.request-content .request-form form textarea {
  width: 100%;
  background-color: var(--second-bg-color);
  color: var(--three-color);
  border: none;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.request-content .request-form form input:focus,
.request-content .request-form form textarea:focus {
  outline: none;
  border-color: var(--primary-color-alt);
}

.request-content .request-form form input::placeholder,
.request-content .request-form form textarea::placeholder {
  text-transform: capitalize;
}

.request-content .request-form form button {
  height: 50px;
  width: 100%;
  border: none;
  color: white;
  font-size: var(--md-text-size);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 50px;
  text-align: center;
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in;
}

.request-content .request-form form button:hover {
  background-color: var(--primary-color-alt);
}

/* start footer */
footer {
  background-color: black;
}
.footer-content {
  padding: 100px 0;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  color: #ccc;
}

.footer-content .item {
  overflow: hidden;
  width: 100%;
}

.footer-content .info h2 {
  font-size: var(--xl-text-size);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
}

.footer-content .info .social-link {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
}

.footer-content .info .social-link span {
  padding: 12px 15px;
  background-color: #4c4c4c;
  transition: background-color 0.2s ease-in;
}

.footer-content .info .social-link span:hover:nth-child(1) {
  background-color: #1096f4;
}
.footer-content .info .social-link span:hover:nth-child(2) {
  background-color: #1d9bf0;
}
.footer-content .info .social-link span:hover:nth-child(3) {
  background-color: red;
}
.footer-content .info .social-link span i {
  color: #ccc;
  font-size: var(--md-text-size);
}

.footer-content .info p {
  margin: 0;
  font-weight: 400;
  line-height: 1.4;
}
.footer-content .links li {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  font-size: var(--sm-text-size);
  text-transform: capitalize;
  transition: padding 0.3s ease-in;
}

.footer-content .links li:first-of-type {
  padding-top: 0;
}

.footer-content .links li:hover {
  padding-left: 10px;
  color: white;
}
.footer-content .links li i {
  color: var(--primary-color);
  font-size: var(--md-text-size);
  font-weight: 700;
  vertical-align: bottom;
  margin-right: 10px;
}

.footer-content .local-time .location,
.footer-content .local-time .active-time,
.footer-content .local-time .contact {
  margin-bottom: 15px;
}

.footer-content .local-time .location i,
.footer-content .local-time .active-time i,
.footer-content .local-time .contact i {
  width: 40px;
  height: 40px;
  font-size: 1.75rem;
  color: var(--primary-color);
  display: inline-block;
  vertical-align: bottom;
}

.footer-content .local-time .location address,
.footer-content .local-time .active-time span,
.footer-content .local-time .contact div {
  display: inline-block;
  line-height: 1.4;
  width: calc(100% - 60px);
}

.footer-content .media img {
  height: 80px;
  width: calc((100% - 30px) / 3);
  margin-right: 6px;
  margin-bottom: 6px;
  border: 5px solid white;
}

.copyright span {
  display: block;
  color: #ccc;
  font-size: var(--sm-text-size);
  font-weight: 400;
  text-align: center;
  padding: 25px 15px;
  border-top: 1px solid #ccc;
  text-transform: capitalize;
}
/* start media */
@media (max-width: 576px) {
  /* headding-effect */
  .heading-effect span {
    font-size: var(--md-text-size);
  }
  /* header */
  header .content {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .content .brand {
    height: 50px;
  }
  header .content nav {
    height: 50px;
    width: 100%;
  }
  header .content nav ul li a {
    font-size: var(--sm-text-size);
  }
  header .content .menu.active {
    top: 100px;
  }

  /* work */
  .work-content .work-details img {
    max-width: 280px;
  }
  .work-content .work-details .desc .item {
    flex-direction: column;
    text-align: center;
  }
  /* event */
  .event-content .event-details .info .counter {
    column-gap: 5px;
  }
  /* request */
  .request-content .request-form h3,
  .request-content .request-form form {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  /* header */
  header .content nav {
    width: 65%;
  }
  header .content .menu {
    width: 95%;
  }
  header .content .menu .nav {
    flex-direction: row;
    padding: 30px;
  }
}

@media (min-width: 991px) {
  .container {
    width: 970px;
  }
  /* header */
  header .content nav {
    width: 45%;
  }
  header .content .menu .nav {
    flex-basis: 50%;
  }
  header .content .menu .image {
    display: block;
  }
  /* about */
  .about-content .text {
    width: 45%;
    text-align: left;
  }
  .about-content .image {
    display: block;
  }
  /* skills */
  .skills-content > div .image {
    display: block;
  }
  /* work */
  .work-content .work-details {
    flex-direction: row;
  }
  /* event */
  .event-content .event-details .image {
    display: block;
  }
  .event-content form {
    width: 50%;
    padding: 30px;
    border-radius: 30px;
    flex-direction: row;
  }

  .event-content form input {
    padding: 10px;
    border-radius: 30px;
    flex-grow: 1;
    font-size: var(--md-text-size);
    font-weight: 500;
  }

  .event-content form button {
    width: 30%;
    padding: 10px;
    border-radius: 30px;
  }
  /* pricing-plans */
  .plans-content .plans .plan.popular {
    transform: translateY(-25px);
  }
  /* top-video */
  .list-video {
    flex-direction: row;
  }
  .list-video .list {
    flex-basis: 35%;
  }

  /* request */
  .request-content {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start animation */
@-webkit-keyframes upDown {
  0% {
    top: -65px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -65px;
  }
}

@-moz-keyframes upDown {
  0% {
    top: -65px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -65px;
  }
}

@-o-keyframes upDown {
  0% {
    top: -65px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -65px;
  }
}

@keyframes upDown {
  0% {
    top: -65px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -65px;
  }
}

@-webkit-keyframes cheveronsupdown {
  0% {
    top: 10px;
  }
  25% {
    top: -5px;
  }
  40% {
    top: 10px;
  }
  55% {
    top: 0px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@-moz-keyframes cheveronsupdown {
  0% {
    top: 10px;
  }
  25% {
    top: -5px;
  }
  40% {
    top: 10px;
  }
  55% {
    top: 0px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@-o-keyframes cheveronsupdown {
  0% {
    top: 10px;
  }
  25% {
    top: -5px;
  }
  40% {
    top: 10px;
  }
  55% {
    top: 0px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes cheveronsupdown {
  0% {
    top: 10px;
  }
  25% {
    top: -5px;
  }
  40% {
    top: 10px;
  }
  55% {
    top: 0px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes arrowLeftRight {
  0% {
    left: 0px;
  }

  100% {
    left: 10px;
  }
}
